.body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

.root {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.field {
    margin-bottom: 10px;
}